.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.helloWorld {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("https://hdqwalls.com/download/stars-space-landscape-mountains-ki-1920x1080.jpg");
}
.navFont{
	font-family: 'Courgette', cursive;
}
.social {
    display: flex!important;
    justify-content: center!important;
	margin: 2rem 2rem 2rem 2rem;
}
.endButtons{
	padding: 0 2rem;
}